@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body { 
  margin: 0;
  overflow: hidden;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  background: url(/darknoise.png);
}

#canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  cursor: grab;
}

#canvas:active {
  cursor: grabbing;
}

#external {
  opacity: 0;
}

.overlay {
  position: fixed;
  z-index: 999;
}

.error {
  background: rgba(0, 0, 0, 0.55);
  color: #e3e3e3;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.hidden {
  display: none;
}

.info {
  background: rgba(0, 0, 0, .75);
  color: #BFBFBF;
  border: 1px solid black;
  position: fixed;
  padding: 1em;
  transform: translate(-50%, -100%);
  text-align: center;
}

.avatar {
  border-radius: 50%;
}

.nickname {
  display: block;
  color: #BFBFBF;
  text-decoration: none;
  font-size: 16px;
}

.logo {
  margin: 16px;
}
